@charset "UTF-8";
*{
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}

body{
    background-color: black;
}

@font-face {
    font-family: czsbmjf;
    src: url(../ttf/潮字社北冥简繁.ttf);
}



/* -------主题页------ */

.page{
    height: 100vh;
    width: 100%;
    background-image: url(../images/1f54c5ab85845cd6c2e29ee5a109605a.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.page img{
    content: url(../images/向下.png);
    height: 35px;
    width: 35px;
    position: relative;
    top: 90%;
    left: 50%;
    filter: opacity(0.4) drop-shadow(0 0 0 rgba(0, 0, 0, 0.392));
    animation: fontam 0.6s ease 0s infinite alternate;
}

.page a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: rgba(239, 240, 242, 0.878);
    text-shadow: 1px 5px 5px #000;
    font-family: czsbmjf;
}

@keyframes fontam {
    from{
        position: relative;
        top: 90%;
        left: 50%;
        transition-duration: 1s;
        filter: opacity(0.9) drop-shadow(0 0 0 rgb(0, 0, 0));
    }  
    to{
        position: relative;
    top: 93%;
    left: 50%;
    transition-duration: 1s;
    filter: opacity(0.2) drop-shadow(0 0 0 rgba(27, 27, 27, 0.392));
    } 
}


/* ---------头部导航栏------------ */
.head_navigation{
    height: 50px;
    /* background-color: rgb(185, 68, 68); */
    z-index: 1;
}

.head_navigation a{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.748);
    position: relative;;
    top: 10px;
    left: 50px;
}

.head_navigation div{
    display: inline
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    color: rgba(21, 21, 21, 0.748);
    font-size: 16px;
}


.main{
    height: 100vh;
    min-width: 500px;
    max-width: 80%;
    background-color: rgb(21, 20, 20);
    margin-top: 100vh;
    position: relative;
    left: 350px;
    border-radius: 20px;
}