@font-face{
    font-family: czsjmft;
    src:url(../ttf/潮字社北冥简繁.ttf)
}
@font-face {
    font-family: Aaqhyt;
    src: url(../ttf/Aa清欢圆体.ttf);
}

body{
    background-image: url(../images/92e88c1b304f995283effebb75b1ec8a.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.login{
    height: 400px;
    width: 400px;
    background-color: rgba(240, 248, 255, 0.555);
    border-radius: 13px;
    text-align: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 0 rgba(119, 119, 119, 0.616);
    padding: 20px;
    margin: 0 auto;
    position:absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.login h2{
    font-size: 40px;
    position: relative;
    top: 10%;
}

.login #account{
    height: 50px;
    width: 300px;
    display: block;
    border-radius: 50px;
    border: none;    
    outline: none;
    padding-left: 25px;
    position: relative;
    top: 20%; left: 50%;
    transform: translate(-50%,-50%);

}

.login #password{
    height: 50px;
    width: 300px;
    display: block;
    border-radius: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    position: relative;
    top: 25%; left: 50%;
    transform: translate(-50%,-50%);

}


.login button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;

    background-color: rgb(66, 91, 235);
    color: aliceblue;
    font-family: Aaqhyt;
    font-size: 17px;
    position: relative;
    top: 28%;
    transition-timing-function: ease;
    transition-duration: .5s;
}


.login button:hover{
    background-color: rgb(76, 137, 252);
    transition-duration: .5s;
    transition-timing-function: ease;
}