@charset "UTF-8";
*{
    margin: 0;
}

/* 引入字体 */
@font-face {
    font-family: czsbmjf;
    src: url(../ttf/潮字社北冥简繁.ttf);
}

body{
    background-image: url(../images/4c33f9df3f514027cb1b31bf2e123d66.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* 头部导航栏 */
.head_navigation{
    height: 60px;
    width: 100%;
    background-color: #ffffffd7;
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 2;
}
.head_navigation div{
    position:absolute;
    left: 50%;
    transform:translate(-50%,0);
    margin-top: 20px;
    font-size: 20px;
    font-family: czsbmjf;
}



/* 他左侧头部用户信息导航栏的布局配置 */
.left_user_navigation{
    height: 300px;
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(240, 248, 255, 0.685);
    position: fixed;
    top: 100px;
    left: 20px;
    margin-right: 10px;
}

.left_user_navigation img{
    height: 100px; 
    width: 100px;
    /* content: url(../images/89938429686470d440d6fea7fc9e7c81.jpeg); */
    border-radius: 100px; 
    box-shadow: 0px 0px 10px #000; 
    position: relative; 
    top: 30px; 
    left: 50%; 
    transform: translate(-50%,0);
    transition-duration: .5s;
}
.left_user_navigation img:hover{
    height: 110px;
    width: 110px;
    transition-duration: .5s;
}

.left_user_navigation #name{
    position:absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 20px;
    font-family: czsbmjf;
}

.left_user_navigation ul{
    position: absolute;
    list-style-type: none;
    top: 180px;
    left: 40%;
    transform: translate(-50%,0);
}
.left_user_navigation ul li{
    margin-top: 7px;
    width: 100px;
    height: 30px;
    transition-duration: .3s;
    text-align: center;
    border-radius: 5px;
}
.left_user_navigation ul li:hover{
    background-color: rgba(86, 86, 86, 0.704);
    transition-duration: .3s;
}


/* 左侧导航栏的一系列配置 */
.left_navigation{
    width: 120px;
    height: 400px;
    background-color: rgba(240, 248, 255, 0.685);
    border-radius: 30px;
    position: fixed;
    top: 650px; left: 20px;
    transform: translate(0,-50%);
    backdrop-filter: blur(5px);
    transition-duration: .5s;
    padding-top: 50px;
    padding-bottom: 20px;
}

.left_navigation ul{
    height: 100%;
    position: relative;
    left: -10px;
}
.left_navigation ul li{
    height: 80px;
    width: 130px;
    list-style-type: none;
    border-radius: 10px;
    
    transition-duration: .5s;
}

.left_navigation ul li:hover{
    background-color: rgb(154, 154, 154);
    transition-duration: .5s;
}

.left_navigation ul li img{
    /* content: url(../images/主页.png); */
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: 18px; 
}

.left_navigation ul li span{
    position: relative;
    top: 15px;
    visibility: hidden;
}

.left_navigation:hover ul li span{
    visibility: visible;
    transition-duration: 1s;
}



/* 左侧导航栏的鼠标悬停动画 */
.left_navigation:hover{
    width: 200px;
    transition-duration: .5s;
}

/* main页面的主要布局排布 */
.main{
    height: auto;
    min-width: 500px;
    max-width: 1300px;
    /* width: 1300px; */
    background-color: rgba(240, 248, 255, 0.801);
    margin-left: 250px;
    margin-right: 20px;
    overflow-y: hidden;
    position: relative;
    top: 100px;
    margin-right: 10%;
    /* position:relative;
    top: 500px;
    left: 1000px;
    margin-left: 10px;
    transform: translate(-50%,-50%);
    box-shadow: 0px 5px 13px 0px rgba(139, 139, 139, 0.582); */
    animation: mz .5s;
    padding: 50px;
    z-index: 0;
}

/* main页面展示的动画效果 */
@keyframes mz {
    from{
        box-shadow: 10px 100px 10px 5px rgba(0, 0, 0, 0.582);
        transform: translate(-50%,-50%) rotateX(10deg) rotateY(10deg) rotateZ(10deg);
        transition-duration: 1s;
    }
    to{
        box-shadow: 0px 5px 13px 0px rgba(139, 139, 139, 0.582);
        transform: translate(-50,-50%) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transition-duration: 1s;
    }
}




/* 用来配置MarkDown解析的效果的 */
.hljs{
    background: #f3f3f3;
}

.main p{
    margin-top: 5px;
    margin-bottom: 5px;
}
h1{
    margin-top: 50px;
}

h2{
    margin-top: 40px;
}

h3{
    margin-top: 30px;
}

h4{
    margin-top: 20px;
}

h5{
    margin-top: 10px;
}